<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="intro-blip">
        Here's a look at how your Suggestions page will work. When you're ready, <%= link_to "View Suggestions", i_path, class: "btn btn-primary btn-sm" %>
      </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="suggested-job-head">Positions you may be interested in:</div>
      <div class="job-box">
        <div class="jobs-dashed-border">
          <p>Based on your LinkedIn profile,<br/> we'll show you some jobs you might like here.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="job-words">
        <div class="job-words-head">Skills required:</div>
        <div id="word-box">
          <div class="dashed-border">
            <p>Next, we'll run a text analysis on those jobs,<br/> and return the keywords that show up most often.</p>
          </div>
        </div>
      </div>

      <div class="meetup-groups">
        <div class="meetup-groups-head">Where to find those skills:</div>
        <div id="meetup-box">
          <div class="meetup-box">
            <div class="dashed-border">
              <p>For each of your keywords above,<br/> we'll show you one related Meetup group here.</p><br/>
              <p>Meetup groups can be great places to learn new<br/> skills and make new friends with those skills.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
