<body class="homebody">
  <div class="container">
    <div class="homepage">
      <br/><br/><br/>
      <div class="homepage-taste">Taste your future.</div>

      <br/><br/>
      <div class="homepage-btn"><%= link_to "Sign in with LinkedIn", login_path, class: "btn btn-lg btn-default" %></div>
    </div>
  </div>
