<% @meetups_to_show.each do |meetup| %>
  <div class="meetup-box">
    Based on <strong><%= meetup.word %></strong>, we found:<br/><br/>
    <span class="meetup-listing"><%= meetup.name %></span><br/>
    <span class="meetup-listing-city">(<%= meetup.city %>)</span><br/><br/>
    <%= link_to "View on Meetup", meetup.url, class: "btn btn-default" %>
  </div>
<% end %>
