// NAVBAR! //
$navbar-default-bg: #fff;
$navbar-height:     80px !important;

@import 'bootstrap';
@import 'bootstrap-sprockets';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);

body {
  font-family: 'Arvo', serif;
}

// NAVBAR! //
.cc-title {
  height: 80px;
  line-height: 80px;
}

.nav-photo {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.navbar-nav > li > a {
  line-height: 60px;
}

// HOME PAGE! //
.homebody {
  background-color: #D3EBE5;
}

.homepage {
  text-align: center;
  color: white;
}

// PROFILE PAGE! //
.welcome-user-title {
  font-size: 38px;
  font-weight: bold;
  color: #060840;
}

.profile-container {
  background-color: #060840;
  padding: 15px;
  margin: -14px 0 0 0;
  color: white;
}

.profile-pic {
  display: inline-block;
}

.job-words-head {
  font-size: 28px;
  color: #FFC15E;
  font-weight: bold;
  margin: 20px 0 -25px 0;
}

#word-box {
  background-color: #FFEEC9;
  padding: 15px;
  margin: 15px 0;
}

.meetup-groups-head {
  font-size: 28px;
  color: #75C986;
  font-weight: bold;
  margin: 20px 0 -25px 0;
}

.meetup-box {
  background-color: #E8FFE9;
  padding: 15px;
  margin: 15px 0;
}

.job-box {
  background-color: #F3EDFF;
  padding: 15px;
  margin: 15px 0;
}

.suggested-job-head {
  font-size: 28px;
  color: #9070B3;
  font-weight: bold;
  margin: 20px 0 -25px 0;
}

.suggested-job-title {
  font-size: 24px;
}

.suggested-job-company {
  font-size:    20px;
#  font-weight:  bold;
}

.suggested-job-loc {
  font-style: italic;
}
